mixin footer()
   .footer&attributes(attributes)
      .footer__content
         .row.jcsb.aic.mbo5
            +logo('rev-full')
            .col.aife
               a(href="tel:+79780000000").tdn.footer__tel +7 (978) 000-00-00
               a(href="mailto:email@email.email").tdn.footer__email email@email.email
         .row.wrap.jcc.footer__links
            a(href="#") Данные регистрации юр. лица
            a(href="#") Документы
            a(href='#') Права на деятельность