mixin search(attach)
   .search.plr1o25&attributes(attributes)
      .search__content.row
         +input('Название магазина...').search__input.w100
         +button().row
            img(src=`${attach}/Images/search.svg`)