@import './Static/colors'
@import './Static/fonts'
@import './Static/decore'

@import './Static/styles-lib'

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  color: $-c2
  background-color: $-c4
  font-size: 16px
  font-family: var(--f-pts-r)

::selection
  background: $-c3-50

