include Basic/devicer/devicer.pug
include Blocks/header/header.pug
include Basic/logo/logo.pug
include Basic/button/button.pug
include Blocks/search/search.pug
include Basic/input/input.pug
include Basic/footer/footer.pug
include Blocks/menu/menu.pug
